@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
body {
  background-color: rgb(209, 209, 212);
  margin: 0px;
  padding: 0px;
}
header {
  background-color: rgb(58, 80, 125);
  box-shadow: 0px 2px 5px rgb(78, 137, 167);
  display: flex;
}
.navbar,
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul {
  list-style-type: none;
}
.navbar a {
  font-family: "Koulen", sans-serif;
  color: aliceblue;
  text-decoration: none;
  transition: 0.6s;
}
.navbar a:hover {
  color: rgb(14, 139, 197);
}
.search {
  padding-left: 53rem;
}
.search img {
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.search-bar {
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgb(164, 163, 163);
  background-color: azure;
  width: 200px;
  height: 25px;
  padding: 2px;
  text-align: right;
}
.category {
  margin-left: 50px;
  margin-right: 50px;
}
.title-varman {
  margin-top: 20px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
}
.title {
  margin-top: 20px;
  width: 200px;
  background-color: white;
  border-radius: 10px;
}
.title h2,
.title-varman h2 {
  text-align: center;
  color: rgb(14, 139, 197);
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.main-card {
  justify-content: space-between;
  display: flex;
}
.card {
  width: 310px;
  background-color: white;
  overflow: hidden;
  border-radius: 5px;
}
.card-img {
  object-fit: cover;
  display: flex;
  justify-content: center;
}
.card-img img {
  transition: transform 0.4s ease;
}
.card-img:hover img {
  transform: scale(1.1); /* Zoom out on hover */
}
.card-title p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px 0px 10px 10px;
}
.card-title {
  margin-top: 7px;
}
.card-apple,
.card-price {
  color: rgb(14, 139, 197);
  font-size: 18px;
  font-weight: bold;
  transition: 0.5s;
}
.card-apple:hover,
.card-price:hover {
  color: rgb(54, 189, 33);
}
.order {
  display: flex;
  align-items: center;
  width: 100%;
}
.btn-order {
  border-radius: 5px;
  background-color: rgb(68, 255, 0);
  color: rgb(14, 139, 197);
  cursor: pointer;
  border: none;
  padding: 10px;
  width: 80px;
  font-weight: bold;
  margin: 10px;
}
.icon {
  padding-left: 50px;
}
.icon img {
  width: 32px;
  height: 32px;
}
footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(58, 80, 125);
  padding: 30px;
  align-items: start;
  margin-top: 10px;
}
.footer-logo {
  display: flex;
  align-items: center;
}
.footer-logo img {
  width: 32px;
  height: 32px;
}
.items h3 {
  margin-bottom: 20px;
}
.item {
  display: flex;
  gap: 60px;
}
.items a {
  color: white;
  text-decoration: none;
  display: block;
}
.contact img {
  width: 16px;
  height: 16px;
}
.footer-logo h3,
.items h3 {
  color: white;
}
.contact {
  display: flex;
  align-items: center;
  color: white;
}
header {
  position: sticky;
  top: 0px;
  z-index: 1;
}
.product_varman {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  gap: 30px;
}
.product_varman img {
  height: 400px;
  object-fit: contain;
}
.product_detail h3 {
  margin: 0px 0px 10px 0px;
  font-size: 25px;
  color: rgb(14, 139, 197);
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.icon-star {
  color: #edc237;
}
.icon-star:hover {
  transition: 0.4s;
  color: rgba(227, 227, 44, 0.675);
}
.price-varman {
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0px 0px 0px;
  color: rgb(59, 182, 14);
}
.varman-detail {
  font-size: 17px;
  color: rgb(148, 145, 145);
  margin: 10px;
  margin: 0px;
}
.product_detail input {
  width: 50px;
}
.counter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: Arial, sans-serif;
  font-size: 20px;
}
.counter button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0 10px;
  color: white;
}
.counter button:hover {
  color: #007bff;
}

.counter span {
  color: rgb(148, 145, 145);
  min-width: 20px;
  text-align: center;
  display: inline-block;
}
.apple_detail {
  color: rgb(148, 145, 145);
}
#count {
  color: white;
}
.qty {
  margin-left: 10px;
  background: #62a5ed;
  border: 1px solid #007bff;
  border-radius: 5px;
}
.btn-varman {
  margin-top: 5px;

  font-family: Arial, Helvetica, sans-serif;
}
.btn-addcard {
  font-size: 15px;
  background-color: #62a5ed;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.btn-buynow {
  font-size: 15px;
  background-color: rgb(54, 177, 10);
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
